.pageContainer {
  height: 100vh;
}

/* Block */
.sideForm {
  background-color: #01509f;
  padding: 2rem;

  /* Elements */
  &__header {
    color: white;
    font-size: max(2.8vw, 40px);
    margin-bottom: 1rem;
  }

  &__info {
    color: white;
    font-weight: 400;
    max-width: 70%;

    @media (max-width: 991px) {
      max-width: 100%;
    }
  }
}


/* Block */
.form {
  padding: 2rem;

  /* Elements */

  &__header {
    color: rgb(200, 200, 200);
    margin-bottom: 3rem;
    margin-right: 12rem;
    font-weight: bolder;
  }

  &__inputContainer {
    position: relative;
    margin-bottom: 3rem;

    input {
      position: relative;
      border: none;
      border-bottom: 1px solid #ddd;
      background-color: transparent;
      width: 300px;
      z-index: 1;
      display: block;

      &:focus, &:valid {
        outline: none;

        & + label {
          top: -10px;
          font-size: 12px;
          color: #01509f;
        }
      }
    }

    label {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      transition: 0.25s ease;
    }
  }

  &__submitBtn {
    padding: 0.5rem 1rem;
    color: white;
    background-color: #01509f;
    width: 150px;
    border-radius: 50px;
    margin-bottom: 1.2rem;
    border: none;
    cursor: pointer;

    &:hover {
      background-color: #00468b;
    }
  }

  /* Modifiers */
  &--stateBtn {
    padding: 0;
    box-shadow: none;
    color: #007bff;
    text-decoration: underline;
    cursor: pointer;
  }
}

.featureCard {
  background-color: rgb(255, 255, 255);
  height: 100%;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.4);
}
